<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <title></title>
</head>

<body>
    <section>
        <h1>WHAT DOES YOUR NAME SAY ABOUT YOUR PERSONALITY?</h1>
        <div class="centerDiv">
            <div class="details">
                <label>ENTER YOUR NAME</label><br>
                <input type="text" id="nameid">
            </div>

            <div class="imgDiv">
                <img src="assets/images/img1.jpg" class="img" width="200px" height="200px">
            </div>
            <button>CLICK ME</button>
        </div>
    </section>
</body>

</html>